.palette-square {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-green {
  background-color: rgb(155, 155, 200);
}